* {
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    border: transparent 3px solid;
    background-color: rgba(120, 182, 202, 0.274);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    height: 270px;
    width: 35%;
    position: relative;
    top: 250px;
    left: 535px;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
p{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}
button{
    padding: 6px;
    font-size: 15px;
    border: solid transparent 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 260px;
    left: 550px;
    color: black;
    background-color: yellow;
}