*{
    font-family: Arial, Helvetica, sans-serif;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px rgb(231, 223, 223);
    border-radius: 10px;
    width: 35%;
    margin: 0 auto;
    height: 630px;
    /* background-color: #274D60; */
    background-color: rgba(118, 176, 196, 0);
    backdrop-filter: blur(3px);
    
}
h3{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 32px;
    background-color: rgba(27, 122, 126, 0.712);
    backdrop-filter: blur(20px);
    width: 20%;
    display: flex;
    padding: 4px;
    border-radius: 30px;
    justify-content: center;
    
}

.input{
    color: rgb(0, 0, 0);
    padding: 9px;
    width: 90%;
    border-radius: 5px;
    border: none;
    /* background-color: rgba(255, 228, 225, 0.3);
    backdrop-filter: blur(10px); */
    background-color: rgba(175, 238, 238, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    outline: none;
    /* font-weight: bold; */
    font-size: 15px
    
}
.input::placeholder,
.date::placeholder,
.text::placeholder {
    color: rgb(68, 61, 61);
    /* White with opacity */
}
.date{
    font-size: 15px;
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(175, 238, 238, 0.3);
    backdrop-filter: blur(10px);
    /* background-color: #274D60 ; */
    color: rgb(0, 0, 0);
}
.text{
    width: 90%;
    padding: 9px;
    border: solid transparent 1px;
    border-radius: 5px;
    height: 120px;
    background-color: rgba(175, 238, 238, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    outline: none;
    /* font-weight: bold; */
    font-size: 15px
}

.b1{
    padding: 6px;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color:#2269ac;
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    top: 15%;
    cursor: pointer;
}

.b1:hover{
    background-color: rgba(5, 51, 136, 0.432);
}
.b2 {
    padding: 5px;
    width: 110px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background-color: #d81627 ;
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    position: relative;
    bottom: 2%;
    cursor: pointer;
}
.b2:hover{
    background-color: rgba(255, 0, 0, 0.267);
}
p{
    display: flex;
    top: 300px;
}
/* p{
    width: 20%;
    display: flex;
    position: relative;
    top: 950px;
    left: 710px;
    padding: 20px;
    font-weight: bold;
} */


@media(max-width:555px){
    .container{
        width: 90%;
        height: 660px;
    }
    h3{
        font-size: 26px;
        width: 30%;
    }
    .input{
        width: 92%;
        padding: 12px;
        font-size: 16px;
    }
    .date{
        width: 45%;
        padding: 8px;
        font-size: 16px;
    }
    .text{
        width: 90%;
        font-size: 14px;
        padding: 14px;
    }
    .b1{
        width: 60%;
        padding: 7px;
        font-size: 17px;
    }
    .b2{
        width: 40%;
        padding: 6px;
        font-size: 17px;
    }
 }